*.class
*.iml
*.jar
*.pdf
*.csv
*.xlsx
assert.txt
bad_value.txt
err.txt
2*.txt
search.txt
test.txt
*._edn
*.log
*.js
.idea
.shadow-cljs
.clojure
checkouts
classes
archive
figwheel_server.log
lein-template.iml
node_modules
pom.xml
pom.xml.asc
resources/public/js
resources/public/bootstrap-3.3.7
resources/public/bootstrap-4.1.2
resources/public/images
resources/public/css
resources/public/fonts
resources/public/workspaces
resources/*.edn
favicon.ico
target
out
package-lock.json
resources/private
.lein-repl-history
.lein-failures
i18n/i18n.js
i18n/tmp
i18n/*.mo
i18n/*~
src/main/fulcro
/src/main/general/replace.clj
temp
check-code.log
*.~lock.*.xlsx#
*.ods
.nrepl-port
/.cpcache/
yarn.lock
linux-install*.sh
src/main/applets/nba/data/large.cljs
/backups
fixtures.edn
schema.edn